list is an inbuilt data structure.
it is mutable(i.e)changeble
different datatypes can be stored.
enclosed within square bracket and seperated by comma.

In [1]:
student_marks=[100,'nivi',[12,13,14],'trichy']
student_marks[2][0]

12

In [2]:
chars=[10,36,43]
for char in chars:
    print(char)

10
36
43

# Methods in list
insert-insert element at position
append-add one element at the end of the list
update-update the element
extend-set of values can add  at the existing list
pop-remove the element and show the removed element
del-del the particular element
sort-asscending order if des set (reverse=true)
reverse-reverse the entire list
rename-name can be changee

In [3]:
#aliasing and cloning
a=[1,2,3]
b=a
print(b)#directly assigned
b=a[:]
print(b)#using slice operator

[1, 2, 3]
[1, 2, 3]

In [4]:
students_marks=['john',['acc,cs,phy,che']]
count=0
for name,sub in students_marks:
    print('acc'in sub and )

SyntaxError: invalid syntax (55157589.py, line 4)

split and join are anothe two methods
split-substring as tokens
join-joins the string
delimiter-except value #stock words rem0val

In [ ]:
text="rain rain"
a=print(text.split())
print(text.split('ai'))

In [ ]:
matrix=[[1,2,3],[4,5,6]]
for lst in matrix:#it accepts the whole list and assigns lst to each it
    for item in lst:#lst =1 2 3 4 5 6
        print(item)

list comprehension
syntax:
enumerate(sequnce,start=0)-no need to give the condition,it woks

In [ ]:
for (i,v) in enumerate(["banana","apple"]):
    print(i,v)

comprehend
syntax:
    new_list=[expression for iterate]
for dictionary
syntax:
    new_dict={expression for dict}

In [ ]:
#zip
x=[1,2,3]
y=[4,5,6]
print(list(zip(x,y)))

In [ ]:
result=[x+y for x,y in zip(x,y)]
print("x+y=",result)

lambda-anonymous unnamed function
lambda arguments:exression

In [ ]:
 numbers=[1,10,25,33,47,55,79,90,40]

In [ ]:
def even(n):
    if n%2==0:
        return True
    else:
        return False
print(list(filter(even,numbers)))

stack=last in first out
same as list
stack=[]
queue=first in last out
deque-descending order

In [ ]:
elements=[]
for i in range(6):
    elements.append(i)
for nivi in elements:
    print("The ele is",nivi)

In [ ]:
lst=[]
numbers=input("Enter the number:")
for i in range(5):
    lst.append(i)

In [ ]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
	ele = int(input())
	# adding the element
	lst.append(ele)

print(lst)

In [ ]:
sum=0
for j in lst:
    sum+=j
print(sum)

For printing only the odd Numbers

In [ ]:
numbers=[2,3,5,7,9,10,14]
for i in numbers:
    if i%2==1:
        print(i)

In [ ]:
for number in range(23):
    if number==16:
        break
    print(number)

In [ ]:
count=1
while count<=3:
    text=input("")
    count+=1
print("baby formed")

In [ ]:
sum=o
while true:
    try:
        number=input("enter the num:")
        if number==0:
            break
        sum+=number