# BASICS

Printing hello world

In [ ]:
print("Hello World")

Some mathematical operations

In [ ]:
print(200 +400)
print(400-200)
print(30*40)
print(500//100)
print(500/100)
print(16.0*3)#float
print(16*3)

Exponant of a particular number

In [ ]:
print(2**2)#2 raise to the power 2
print(2**3)#2 raise to the power 3    
#square of the number
print("The square root of a 7 is:",49**(1/2))

In [ ]:
print(98/7)
#in order to avoid float use //
print(98//7)
#remainder
print(24%2)#find the odd or even

The exponent( ** ) and mod ( % ) operator can also used in Float Number

In [ ]:
#exponemt
print(565.43**3)
#mod
print(65.65%2)

In [ ]:
print(7%(5//2))#the inner operation can be execute first and the ans is 2
#then 7%2 ->which gives the remainder (i.e) 1

strings in Python

In [ ]:
print('He's the good guy')
      #The error can be raised because it considered 'he' only have to print and at the end of the statement we had quote which is not properly closed

In [ ]:
#the correct way of using this is..
print('he\'s a good boy')
#now it can printed..

In [ ]:
#another way
print("he's a good boy")
print('he is a "good" boy')

Getting input in python..
input()->This func can be used to get the input from the user

In [ ]:
input("please Enter the value:")#this can be stored in a variable

In [ ]:
#\n -> New line.,Escape sequence
print("Helo nivi you are so awesome")#before newline
print("Helo nivi\nyou are so awesome ")#after newline

string operations in python
->The Number(int , float) which can be placed within single or double quotes      it can be considered as string
->string Concatenation:joins the string
->repitation (multiply a string with an integer)
Note:multiple string with string is not possible

In [ ]:
print("hello"+" world")
print("55" + "55")#not an integer instead it's a stringgggg
print("hell0"+" 5")
print("Nivi"*2)#repeat the string

Variables->used to store value
Rules-> 1) starts with letters or underscore
        2) Doesn't start with Numbers
        3) contains Alpha anumeric characters
        4) Case sensitive
        5) cannot be used as keywords

In [ ]:
#addition of two numbers
a=10
b=20
c=a+b
print(c)

In [ ]:
#storing string in variable
a='Nivetha'
print(a)
del a #here i delete the variable 
print(a)

in place operator->also used in string

In [ ]:
age=39
age=age+1
print("The age is :",age)#40
age+=1
print("The age after in place operator:",age)#41
age-=2
print("The age after subtract 2 is",age)#39
age*=3
print("the age after multiply by 3:",age)#39*3=117
b="hello"
b+=" world"
print(b)

In [ ]:
#simple interst calculator
principle_amount=int(input("enter value for principle:"))
no_of_years=int(input("enter the no of years:"))
rate_of_interest=int(input("enter the value for rate of interest:"))
simple_interest=(principle_amount*no_of_years*rate_of_interest)/100
print("THE SIMPLE INTERST IS:",simple_interest)

Conditional Statements
-> need to specify the colon correctly for the exact promt

In [ ]:
age=int(input("Enter your age:"))
if age>=18:
    print("you are an adult")
else:
    print("you are not an adult")

In [ ]:
#marks from the student
marks=int(input("Enter the marks:"))
if marks >= 90:
    print("GRADE A")
elif marks >= 70:
    print("GRADE B")
elif marks >=60:
    print("GRADE C")
elif marks <60:  
    print("GRADE D")

In [ ]:
#program to get the marks from the student amdd fine the average then the grade had to given....
m1=int(input("Enter the m1:"))
m2=int(input("Enter the m2:"))
m3=int(input("Enter the m3:"))
Total=m1+m2+m3
print("Your total is",Total)
avg=Total/3
print("Your average is",avg)
if avg>=90 and avg <100:
    print("GRADE A")
elif avg>=80 and avg <90:
    print("GRADE B")
elif avg>=70 and avg <80:
    peint("GRADE C")
elif avg>=60 and avg <70:
    print("GRADE D")
else:
    print("You have to work hard")

# LIST OPERATIONS

list()->used to create the list
->list is a data structure
->used to store the multiple values
->enclosed with square brackets and seperated by commos
->most used ds for storing the value

In [ ]:
i=[]#empty_list
for i in range(5):#inserting values using loop
    print(i)#i can be printed

In [ ]:
name=["Nivetha","Subhash","keerthi"]
print(name)

In [ ]:
#access using index position
print(name[0])
print(name[1])
print(name[2])
numbers=[1,2,3,4,5]
print(numbers[4])

In [ ]:
numbers=[1,1,2,2,2,4]
numbers[2]=5
print(numbers)
new_numbers=[1,2,3]
print(numbers+new_numbers)#concatenation
new_numbers.insert(2,5)#insert value at exact index position
print(new_numbers)
print(numbers*3)#repeatation

In [ ]:
fruits=["apples","orange","Grapes"]
if "apples" in fruits:
    print("yes")
print("apples" in fruits) #returns boolean->True 
print("babana" in fruits) #returns boolean->false

In [ ]:
#append()->add item at existing list
fruits=["apples","orange","Grapes"]
fruits.append("banana")
print(fruits)
#len()->Number of items in list
print(len(fruits))
#insert()-> used to insert the particular item at particular position
fruits.insert(0,"strawberry")
print(fruits)
#index Function
print(fruits.index("orange"))

In [ ]:
#range function
number=list(range(10))#creating list and prints till 9
print(number)
number=list(range(3,6))#from this to that
print(number)
number=list(range(2,20,2))#step value
print(number)

In [ ]:
#code reuse->functions
def display():
    print("Nivetha")
    print("Never lose hope")
    print("You have to stay strong")
display()#calling function

In [ ]:
display()#call anytime at anywhere->by calling fuunc

In [1]:
#for loop->set of code at number of times
for x in range(0,11,2):#range can be given
    print(x)
for i in range(3):
    print("Effort never fails ")

0
2
4
6
8
10
Effort never fails
Effort never fails
Effort never fails

In [ ]:
fruits=["apple","banana","grapes","orange"]
for i in fruits:
    print(i)

In [ ]:
#boolean logic
user_name=input("Enter the user name:")
pswd=input("enter the password")
if user_name=="Nivetha" and pswd=="Nivipapa@98":
    print("Valid user")
else:
    print("Invalid user")

In [ ]:
user_name=input("Enter the user name:")
pswd=input("enter the password")
if user_name=="Nivetha" or pswd=="Nivipapa@98":#either one can be true
    print("Valid user")
else:
    print("Invalid user")

In [ ]:
#while loop-> Repeat multiple Number of times
counter=0 #initialize the variable
while counter<=10: #0<=10
    print(counter)
    counter+=1

In [ ]:
#passing arguments to the function
#perform many operations like mul,div,sub
def add(a,b):
    print(a+b)   
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
add(a,b)
add(5,9)#or pass the arguments directly

In [ ]:
#Function return some value
def add(a,b):
    c=a+b
    return c
result=add(100,400)
print(result)

In [ ]:
def add(a,b):
    return a+b
def square(c):
    return c*c
result=square(add(2,8))#passing function inside the Function
print("Result:",result)

In [ ]:
#Random module
import random#imported
for x in range(5):
    result=random.randint(1,6)#randomly numbers can be printed from 1 to 6  
    print(result)

Errors and excception

In [ ]:
#syntax error
def add(a,b)
    print(a+b)
add(2,3)

#logical error-> difficult to determined
              -> The errors in programmer Logics

In [2]:
def div(a,b):
    print(a//b)
div(4,0) #Zero division error  -> Exception occurs

ZeroDivisionError: integer division or modulo by zero